@font-face {
	font-family: "icons";
	src: url("./fonts/icons.woff2?0c95ed09598724dbfd9bf73c6b0d33a9") format("woff2");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-angle-down:before {
	content: "\f101";
}
.icon-check:before {
	content: "\f102";
}
.icon-close:before {
	content: "\f103";
}
.icon-eye:before {
	content: "\f104";
}
.icon-home:before {
	content: "\f105";
}
.icon-homeOutline:before {
	content: "\f106";
}
.icon-radio:before {
	content: "\f107";
}
