@font-face {
	font-family: "icons";
	src: url("./fonts/icons.woff2?46a55e50e0bc64d9b312f88b0197d617") format("woff2");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-angle-down:before {
	content: "\f101";
}
.icon-home:before {
	content: "\f102";
}
.icon-homeOutline:before {
	content: "\f103";
}
