/* only to be referenced from variables.css */
:root{
    --lt-primary-1: hsl(309, 79%, 95%);
    --lt-primary-2: hsl(309, 79%, 80%);
    --lt-primary-3: hsl(309, 79%, 41%);
    --lt-primary-4: hsl(309, 79%, 20%);

    --lt-info-1: hsl(220, 100%, 95%);
    --lt-info-2: hsl(220, 100%, 80%);
    --lt-info-3: hsl(220, 100%, 41%);
    --lt-info-4: hsl(220, 100%, 15%);

    --lt-warning-1: hsl(36, 100%, 95%);
    --lt-warning-2: hsl(36, 100%, 80%);
    --lt-warning-3: hsl(36, 100%, 41%);
    --lt-warning-4: hsl(36, 100%, 20%);

    --lt-error-1: hsl(0, 67%, 95%);
    --lt-error-2: hsl(0, 67%, 80%);
    --lt-error-3: hsl(0, 67%, 41%);
    --lt-error-4: hsl(0, 67%, 18%);

    --lt-success-1: hsl(150, 77%, 95%);
    --lt-success-2: hsl(150, 77%, 80%);
    --lt-success-3: hsl(150, 77%, 41%);
    --lt-success-4: hsl(150, 77%, 18%);

    --lt-base-1: hsl(221, 15%, 100%);
    --lt-base-2: hsl(221, 15%, 94%);
    --lt-base-3: hsl(221, 15%, 90%);
    --lt-base-4: hsl(221, 15%, 55%);
    --lt-base-5: hsl(221, 15%, 41%);
    --lt-base-6: hsl(221, 15%, 25%);
    --lt-base-7: hsl(221, 15%, 5%);

    --lt-control-1: hsl(221, 15%, 100%);
    --lt-control-2: hsl(221, 15%, 94%);
    --lt-control-3: hsl(221, 15%, 75%);
    --lt-control-4: hsl(221, 15%, 60%);
    --lt-control-5: hsl(221, 15%, 41%);
    --lt-control-6: hsl(221, 15%, 25%);
    --lt-control-7: hsl(221, 15%, 5%);

    --lt-button-shadow-color: rgba(0,0,0,.5);
    --lt-control-shadow-color: rgba(0,0,0,.12);
    --lt-mask-color: rgba(0,0,0,.72);
    --lt-loading-mask-color: rgba(255,255,255,.72);
}