/* only to be referenced from variables.css */
:root{
    --lt-base-body-color: #fff;
    --lt-primary-color: #bb16a3;
    --lt-primary-color-dim: #d6a0ce;
    --lt-info-color: #256eff;
    --lt-warning-color: #f90;
    --lt-error-color: #d32929;
    --lt-success-color: #19be6b;
    --lt-base-text-color: #515a6e;
    --lt-base-text-dim-color: #9fa7b9;
    --lt-base-text-back: #f5f5f5;
    --lt-button-text-color: white;
    --lt-shadow-color: gray;
}