@define-mixin h1-inner $property {
  responsive: $property 1.338rem 3.052rem;
}
@define-mixin h1-outer $property {
  responsive: $property 2.007rem 6.104rem;
}

@define-mixin h2-inner $property {
  responsive: $property 1.262rem 2.441rem;
}
@define-mixin h2-outer $property {
  responsive: $property 1.893rem 4.882rem;
}

@define-mixin h3-inner $property {
  responsive: $property 1.191rem 1.953rem;
}
@define-mixin h3-outer $property {
  responsive: $property 1.7865rem 3.906rem;
}

@define-mixin h4-inner $property {
  responsive: $property 1.124rem 1.563rem;
}
@define-mixin h4-outer $property {
  responsive: $property 1.5rem 3.126rem;
}

@define-mixin h5-inner $property {
  responsive: $property 1.06rem 1.25rem;
}
@define-mixin h5-outer $property {
  responsive: $property 1.4rem 2.16rem;
}

@define-mixin h6-inner $property {
  responsive: $property 1rem 1.2rem;
}
@define-mixin h6-outer $property {
  responsive: $property 1rem 1.2rem;
}

@define-mixin h7-inner $property {
  responsive: $property .875rem .919rem;
}
@define-mixin h7-outer $property {
  responsive: $property 1.0719rem 1.65rem;
}

@define-mixin txt-inner $property {
  responsive: $property 1rem 1.05rem;
}

@define-mixin txt-outer {
  responsive: line-height 1.225rem 1.89rem;
}

