
html {
    color: var(--base-text-color);
    background-color: var(--base-body-color);
}

body {
    margin: 0px;
    padding: 0px;
}

h1 {
    responsive: font-size inset 10;
    responsive: line-height outset 10;
    margin: 0;
}

h2 {
    responsive: font-size inset 20;
    responsive: line-height outset 20;
    margin: 0;
}

h3 {
    responsive: font-size inset 30;
    responsive: line-height outset 30;
    margin: 0;
}

input,
textarea,
button,
select,
i.icon.prefix,
i.icon.postfix
{
    responsive: font-size 1.3rem 1.55rem;
    responsive: line-height 2rem 3rem;
    responsive: border-radius .5rem .8rem;
}
a,
body,
span,
p,
h4 {
    responsive: font-size inset 40;
    responsive: line-height outset 40;
    margin: 0;
}

.chip,
label,
h5 {
    responsive: font-size inset 50;
    responsive: line-height outset 50;
    margin: 0;
}

h6 {
    responsive: font-size inset 60;
    responsive: line-height outset 60;
    margin: 0;
}

input[type="radio"],
input[type="checkbox"]
{
    responsive: font-size inset 50;
    responsive: height outset 50;
    responsive: width outset 50;
    responsive: line-height outset 50;
    appearance: none;
    padding: 0;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
}
input[type="checkbox"]{
    border-radius: .3em;
    background-color: transparent;
    border:solid 2px var(--primary-color);
}
input[type="checkbox"]:checked{
    border:none;
}

input[type="checkbox"] + label{
    display: inline-block;
    responsive: line-height outset 50;
    margin: 0;
    position: relative;
    top:0;
    vertical-align: middle;
}

input[type="radio"]{
    border-radius: 50%;
    background-color: transparent;
    border:solid 2px var(--primary-color);
}
input[type="radio"]:checked{
    border:solid 1px var(--primary-color);
}
input[type="radio"]:checked:after{
    content: '';
    responsive: width inset 60;
    responsive: height inset 60;
    background-color: var(--primary-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    top:0; left: 0; right: 0; bottom: 0;
    margin:auto;
}
input[type=radio]::-ms-check {
    color: var(--primary-color);
    border: none;
}

input[type="checkbox"]:checked:after
{
    border-radius: .3em;
    background-color: var(--primary-color);
    content: '\f102';
    responsive: line-height outset 50;
    color: var(--button-text-color);
    font-family: icons;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
    margin: auto;
    padding: 0;
    top: 0; left: 0; bottom: 0; right: 0;
}

input[type=checkbox]::-ms-check {
    border-radius: .3em;
    background-color: var(--primary-color);
    border: none;
    color: var(--button-text-color);
}

.layout > .content {
    responsive: padding content 10;
    box-sizing: border-box;
}

input, textarea, button, select {
    color: var(--base-text-color);
    box-sizing: border-box;
}

input, textarea, select {
    background-color: var(--base-text-back);
    padding: 0 1rem;
    outline: none;
    width: 100%;
    box-shadow: border-box;
    border: solid 1px var(--base-text-back);;
    transition : border 500ms ease-out;
}

select {
    responsive: padding-right 2rem 3rem;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='#515a6e' d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1.5EM 1EM;
    background-position: right center;
}

label {
    color: var(--base-text-dim-color);
    margin-bottom: .3rem;
    margin-top: 1rem;
}
label.required:after {
    content: "*";
    color: red;
    margin-left: .2rem;
}

input, label {
    display: block;
}

input.prefix, input.postfix {
    display: inline;
}

i.icon.prefix,
i.icon.postfix {
    position: relative;
}

i.icon.prefix:before,
i.icon.postfix:before {
    position: absolute;
    padding-top:1px;
}
i.icon.prefix:before {
    responsive: padding-left .5rem .8rem;
}
i.icon.postfix:before {
    right: 0px;
    responsive: padding-right 1rem 1.5rem;
}
input.postfix{
    responsive: padding-right 2.2rem 3rem;
}
input.prefix{
    responsive: padding-left 2rem 3rem;
}

button {
    background-color: transparent;
    border: none;
    transition : all 300ms ease-in;
    color: transparent;
    padding: .2rem 2rem;
}

button:not(:last-child){
    margin-right: 2rem;
}
button:hover {
    filter: brightness(115%) drop-shadow(0px 2px 3px var(--button-shadow-color));
    transform: scale(1.1);
    transition : all 100ms ease-in;
}
button.text{ 
    color: var(--base-text-color);
}
button.text:hover {
    filter: brightness(115%);
    color: var(--primary-color);
    transition : all 100ms ease-in;
}
button.default{ 
    border: solid 1px var(--base-text-dim-color);
    filter: brightness(115%);
    color: var(--base-text-color);
}
button.default:hover {
    border: solid 1px var(--primary-color);
    color: var(--primary-color);
}
button.error {
    background-color: var(--error-color);
    color: var(--button-text-color);
}
button.warning {
    background-color: var(--warning-color);
    color: var(--button-text-color);
}
button.info {
    background-color: var(--info-color);
    color: var(--button-text-color);
}
button.success {
    background-color: var(--success-color);
    color: var(--button-text-color);
}
button.primary {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

a:visited,
a{
    color: var(--primary-color);
    display:inline-block;
}

a:hover{
    filter: brightness(115%);
    transform: scale(1.05);
    transition : all 50ms linear;
}

a,
button,
select:hover,
input[type="radio"]:hover,
input[type="checkbox"]:hover{
    cursor:pointer;
}

input:hover,
textarea:hover,
select:hover {
    border: solid 1px var(--primary-color-dim);
}

input:focus, 
textarea:focus, 
select:focus{
    border: solid 1px var(--primary-color);
}

.badge[count]{
    position: relative;
}

.badge[count]:after {
    background: red;
    border-radius: .7em;
    color: #fff;
    content: attr(count);
    responsive: font-size inset 60;
    responsive: line-height outset 60;
    min-width: 20px;
    padding: 0px .2em;
    position: absolute;
    top: -1em;
    right: -1em;
    text-align: center;
    box-shadow: 1px 1px 6px var(--button-shadow-color);
    transition : all 250ms linear;
}
.badge[count]:hover:after{
    filter: brightness(115%);
    transform: scale(1.3);
    transition : all 50ms linear;
}

.badge[count^="-"]:after,
.badge[count="0"]:after,
.badge[count=""]:after {
 display: none;
}

.tooltip[tip]{
    position: relative;
}

.tooltip[tip]:before{
    content: attr(tip);
    background-color: var(--primary-color);
    color: var(--button-text-color);
    responsive: font-size inset 60;
    responsive: line-height outset 60;
    padding: .2em 1.2em;
    border-radius: .4em;
    display: none;
    position: absolute;
    top: -1.9em;
    left: 50%;
}
.tooltip[tip]:hover:after,
.tooltip[tip]:hover:before{
    display: inline;
}

.tooltip[tip]:hover:after{
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    responsive: font-size inset 60;
    width: .7em;
    height: .7em;
    top: -.7em;
    display: block;
    left: calc(50% + .5em);
    transform: rotate(45deg);
}

input[type="checkbox"].toggle{
    appearance: none;
    height: 1em;
    width: 2em;
    border-radius: 1em;
    background-color: var(--control-fill-color);
    border:none;
    color: var(--control-alt-fill-color);
}

input[type="checkbox"].toggle:after{
    content: '';
    display: inline-block;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    position: absolute;
    left: -.5em;
    background-color: var(--control-alt-fill-color);
    border:solid 3px var(--control-alt-fill-color);
    box-shadow: 1px 1px 6px  var(--button-shadow-color);
    top: 0;
    bottom: 0;
    margin: auto;
    transition : left 250ms ease-in;
}

input[type="checkbox"].toggle:checked:after{
    left: 1em;
    background-color: var(--control-on-fill-color);
    border:solid 3px var(--control-on-fill-color);
}

input[type=checkbox].toggle::-ms-check {
    color: var(--control-alt-fill-color);
    background-color: var(--control-alt-fill-color);;
    border: none;
    border-radius: 50%;
    transform: translate(-.5em,0);
}

input[type=checkbox].toggle:checked::-ms-check {
    color: var(--control-on-fill-color);
    background-color: var(--control-on-fill-color);
    border: none;
    border-radius: 50%;
    transform: translate(.5em,0);
}

input[type=range] {
    appearance: none;
    width: 100%;
    height: 1.4em; /* required for edge */
    overflow: visible;
    box-sizing: border-box;
    background: transparent;
    border: solid 1px transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    height: .5em;
    margin: none;
    box-sizing: border-box;
    background: var(--control-fill-color);
    border: solid 1px var(--control-fill-color);
    border-radius: 1em;
}

input[type=range]::-webkit-slider-thumb {
    width: calc(1em + 3px);
    height: calc(1em + 3px);
    box-shadow: 1px 1px 6px var(--button-shadow-color);
    background: var(--control-on-fill-color);
    cursor: pointer;
    border-radius: 50%;
    appearance: none;
    margin-top: calc(-.5em + 3px);
    box-sizing: border-box;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: .5em;
    cursor: pointer;
    background: var(--control-fill-color);
    border: none;
    border-radius: 1em;
}

input[type=range]::-moz-range-thumb {
    width: calc(1em + 3px);
    height: calc(1em + 3px);
    box-shadow: 1px 1px 6px var(--button-shadow-color);
    background: var(--control-on-fill-color);
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 6px rgba(0,0,0,.4);
    width: calc(1em + 3px);
    height: calc(1em + 3px);
    border-radius: 50%;
    background: #f5f5f5;
    cursor: pointer;
    margin-top: calc(-.5em + 10px);
}

input[type=range]::-ms-track {
    width: 100%;
    height: .5em;
    cursor: pointer;
    background: #9fa7b9;
    border-radius: 1em;
    padding-right: 2em;
    padding-left: 2em;
    box-sizing: border-box;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper,
input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
    background: transparent;
}

.panel {
    box-shadow: 1px 1px 5px  var(--panel-shadow-color);
    border-radius: .7rem;
    background-color: var(--panel-color);
}
.panel + .panel {
    margin-top: 2rem;
}

.panel > h1:first-child {
    text-align: center;
}

.chip {
    background-color: var(--chip-back-color);
    color: var(--chip-text-color);
    border-radius: 1rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    position: relative;
    box-shadow: 1px 1px 2px  var(--button-shadow-color);
    display: inline-block;
}

.chip:not(:last-child){
    margin-right: 1rem;
}

.chip + .chip {
    margin-top: .5rem;
}
.chip > .close{
    display: inline;
}

.chip > .close:hover:after{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 100ms ease-in;
}

.chip > .close:after {
    display: inline;
    content: '\f103';
    font-family: icons;
    position:relative;
    top: .15em;
    right: -.6em;
    transition : all 200ms ease-in;
}

input[accordian]{
    display: none;
}
div[accordian]{
    max-height: 0rem;
    overflow: hidden;
    transition : all 1s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
input[accordian] + label{
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 0;
    padding: 1em;
    margin-top: 0;
    background-color: var(--primary-color);
    margin-left: 1rem;
    margin-right: 1rem;
    color: var(--primary-color-dim);
    border-bottom: solid 1px var(--primary-color-dim);
    responsive: font-size inset 40;
    font-weight: bold;
    transition : all 200ms ease-in;
    background: radial-gradient(ellipse at left bottom, var(--primary-color-dark) -40%,var(--primary-color) 65%);

}

input[accordian] + label:hover{
    cursor: pointer;
}
input[accordian]:checked + label{
    cursor: pointer;
    color: var(--control-alt-text-color);
    box-shadow: 0 6px 8px -2px var(--button-shadow-color);
    margin-left: 0;
    margin-right: 0;
    border-bottom: solid 2px var(--panel-shadow-color);
    responsive: font-size inset 30;
    background: radial-gradient(ellipse at right top, var(--primary-color-dim) -40%,var(--primary-color) 65%);
}
input[accordian] + label:after{
    content: '\f101';
    font-family: icons;
    font-size: .6em;
    position: absolute;
    right: 1em;
    transition : all 200ms ease-in;
    display: inline;
}
input[type="radio"][accordian]:checked + label{
    cursor: inherit;
}
input[type="radio"][accordian]:checked + label:after{
    display:none;
}

input[accordian]:checked + label:after{
    transform: rotate(180deg);
}
input[accordian]:checked ~ div[accordian] {
    max-height: 100rem;
    transition : all 5s ease-out;
}