
:root {
  --base-body-color: var(--lt-base-body-color);
  --primary-color: var(--lt-primary-color);
  --primary-color-dim: var(--lt-primary-color-dim);
  --base-text-color: var(--lt-base-text-color);
  --base-text-back: var(--lt-base-text-back);
  --base-text-dim-color:  var(--lt-base-text-dim-color);
  --info-color: var(--lt-info-color);
  --warning-color: var(--lt-warning-color);
  --error-color: var(--lt-error-color);
  --success-color: var(--lt-success-color);
  --button-text-color: var(--lt-button-text-color);
  --shadow-color: var(--lt-shadow-color);
  --sider-width: 10rem;
  --header-height: 5rem;
  --footer-height: 1.5rem;
}